.footerImg1 {
  background-color: #ffe9bf;
  border: 5px solid #fcaf20;
  border-radius: 50px;
  margin: 5px;
  padding: 5px;
}

.footerImg2 {
  background-color: #ffe9bf;
  border: 5px solid #fcaf20;
  border-radius: 50px;
  margin: 5px;
  padding: 5px;
}
