.drinkCardPage {
  align-items: center;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.drinkCard {
  align-items: center;
  background-color: #fcaf20;
  border: 4px solid #fcaf20;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: center;
  margin: 10px;
  padding: 5px;
  width: 160px;
}

.drinkCardName {
  color: white;
  font-size: 30px;
  font-weight: 600;

}

.drinkCardImg {
  border-radius: 10px;
  height: 100px;
  width: 150px;
}
